@model IEnumerable<flightmvc.Models.CustomerIvy>

@{
    ViewData["Title"] = "CustomIndex";
}

<h1>Customer Home Page</h1>

<p>
    <a asp-action="Create">Create new Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.ActionLink("Edit Details", "Edit", new { id=item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CustomerId }) |
                @Html.ActionLink("Delete ", "Delete", new { id=item.CustomerId })
            </td>
        </tr>
}
    </tbody>
</table>
